<div class="container">  
    <br>
    <br>
    <% if @note.user = current_user %>
        


        <%= render 'form'%>
        
        <%= button_to "Delete", note_path(@note), method: :delete %> 

    <% end %>
</div>