<div class="container">
    <br>
    <h3>List of all Lessons</h3>
    <ul>
        <% @notes.each do |note| %> 
         <li><%= link_to note.lesson_name, note_path(current_user) %>- By: <%= note.user.username %></li>
        <% end %>
    </ul>
    
</div>
