<div class="container">
  <br>
  <h3>Click on a subject to see everyone note's</h3>
  <ul>
    <% @subjects.each do |subject| %>
      <li>
        <%= link_to subject.name, subject_path(subject) %> - <%= subject.notes.count %>
      </li>
        
    <% end %>
  </ul>
</div>