<div class="container">
  <br>
  <h2><%= @subject.name %></h2>
  

  <h5>Lessons:</h5>
  
  <ul>
    <ol>
      <% @subject.notes.each do |note| %>
        <li><%= link_to note.lesson_name, note_path(note) %></li>
      <% end  %>
    </ol>
  </ul>
</div>